# Dependencies
node_modules/

# Build outputs 
dist/
bak/

.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.DS_Store
installer.js

public/css/style.css
